include *.md
include *.cfg
include *.rst
include *.txt
recursive-include . *.txt
recursive-include storops_test *.json
recursive-include storops_test *.xml
recursive-include storops_test *.html
recursive-include storops *.yaml
